.wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#newDivId {
    background-color:yellow;
    width:30%;
    padding:20px;
    border:magenta solid 1px;
}

.active {
    display:flex;
}